node_modules
build
.next
.vercel
*.log
tsconfig.tsbuildinfo
tsconfig.*
.eslintcache

# PWA files
**/public/sw.js
**/public/workbox-*.js
**/public/worker-*.js
**/public/sw.js.map
**/public/workbox-config.js
**/public/workbox-config.js.map
