node_modules
prisma/generated
prisma/migrations
build
.next
.vercel
.DS_Store
*.log
tsconfig.tsbuildinfo
tsconfig.*
.eslintcache

# only want one package manger
yarn.lock

# PWA files
**/public/sw.js
**/public/workbox-*.js
**/public/worker-*.js
**/public/sw.js.map
**/public/workbox-config.js
**/public/workbox-config.js.map
