@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base

html,
body {
  padding: 0;
  margin: 0;
  font-smooth: auto;
}

::selection {
  background: #49c2fa; /* WebKit/Blink Browsers */
  color: white;
}
::-moz-selection {
  background: #49c2fa; /* Gecko Browsers */
  color: white;
}

a {
  color: inherit;
  text-decoration: none;
}
