@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base

html,
body {
  padding: 0;
  margin: 0;
  font-smooth: auto;
}

::selection {
  background: #63cbfb; /* WebKit/Blink Browsers */
  color: white;
}
::-moz-selection {
  background: #63cbfb; /* Gecko Browsers */
  color: white;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.btn {
  @apply rounded-md py-3 px-3 text-xs cursor-pointer tracking-wider;
}
